*{
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

header nav{
    background-color: #242922;
    padding: 2.5em;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: auto;
}

header ul{
    display: flex;
    align-items: center;
}

header ul li{
    margin-right: 20px;
    font-size: 14px;
}

header ul li a{
    color: white;
}

header ul li a button{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.line1{
    height: 4px;
    width: 18rem;
    background-color: white;
    margin-left: 14.5em;
    margin-top: 0.5em;
}

.home{
    padding: 15rem;
    justify-content: left;
    background-image: url(./images/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 40vh;
}

.home div{
    padding: 10px;
    color: white;
    margin-left: -14em;
}

.home div h1{
    font-size: 5em;
}

.home div p{
    font-size: 2.5em;
    margin-left: 2em;
}

.articles{
    padding: 15rem;
    background-color: #242922;
}

.articles h2{
    text-align: center;
    margin-top: -20px;
}

.imgs{
    padding: 10px;
    display: flex;
    gap: 2rem;
}

.imgs div p{
    margin: 50px auto;
    text-align: center;
}

.imgs div img{
    width: 20rem;
    height: 15rem;
}

